<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>전공 목록</h2>
    <a href="{% url 'addMajor' %}">전공 추가</a>
    <ul>
        {% for major in majors %}
        <li>
            <span>{{ major.name }}</span>
            <a href="{% url 'editMajor' major.pk %}">수정</a>
            <a href="{% url 'deleteMajor' major.pk %}">삭제</a>
        </li>
        {% endfor %}
    </ul>
    <br>

    <h2 class="todoname">과목 목록</h2>
    <a href="{% url 'addSubject' %}" class="linker">강의 추가</a>
    <ol>
        {% for subject in subjects %}
        <li>
            <div>{{ subject.subject_name }}</div>
            <div>Dept: {{ subject.major }} </div>
            <div>Prof: {{ subject.prof_name }} </div>
            <div>
                <a href="{% url 'editSubject' subject.pk %}">수정</a>
                <a href="{% url 'deleteSubject' subject.pk %}">삭제</a>
            </div>
            <div>Comment: {{ subject.memo }}</div>
        </li>
        {% endfor %}
    </ol>
</body>

</html>