<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %} {% block css %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'app/style.css' %}"
    />
    {% endblock css %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="page-wrapper">{% block content %} {% endblock content %}</div>
    <div class="btn-container">
      <a class="write-btn" href="{% url 'create_page' %}">게시글 작성하기</a>
    </div>
  </body>
</html>
