<!DOCTYPE html>
<html lang="en">

<head>
    {% extends 'base.html' %} {% block css %} {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/style.css' %}" />
    {% endblock css %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인</title>
</head>

<body>
    {% block content %}

    <div class="page-container">
        <header class="page-header">
            <h2>가입 페이지</h2>
        </header>
        <br />

        <div class="content-container">
            <form method="POST">
                {% csrf_token %}
                {% if error %}
                <p>{{error}}</p>
                {% endif %}
                <div class="form">
                    <label class="title" for="username">username</label><br>
                    <input id="username" name="username" type="text" placeholder="이름을 입력하시오"><br>
                    <label class="title" for="password">password</label><br>
                    <input id="password" name="password" type="text" placeholder="비밀번호를 입력하시오"><br>
                    <button type="submit">로그인</button>
                </div>
            </form>
        </div>
    </div>

    {% endblock content %}

    <!-- <div class="btn-container">
        <a class="write-btn" href="{% url 'create_page' %}">게시글 작성하기</a>
    </div> -->
</body>

</html>