<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'app/style.css' %}">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>상세 페이지</title>
</head>

<body>
  <div class="page-wrapper">
    <div class="page-container">
      <header class="page-header">
        <h2>게시글 상세 페이지</h2>
      </header>
      <br>

      <div class="content-container">
        <h3>제목: {{ post.title }}</h2>
          <p>내용: {{ post.content }}</p>
          <div class="comment">
            <form method="POST">
              {% csrf_token %}
              <label for="content"></label>
              <input type="text" name="content" placeholder="댓글을 입력하세요">
              <button type="submit">등록</button>
            </form>
            <br>
            {% for comment in post.comments.all %}
            <li>
              {{ comment.content }}
              <a href="{% url 'delete-comment' post.pk comment.pk %}">삭제</a>
            </li>
            {% endfor %}
          </div>
      </div>
      <div class="btn-container">
        <a class="write-btn" href="{% url 'list_page' %}">뒤로가기</a>
        <a class="write-btn" href="{% url 'edit_page' post.pk %}">수정하기</a>
        <a class="write-btn" href="{% url 'delete' post.pk %}">삭제하기</a>
      </div>
    </div>
    <br>

</body>

</html>