<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %} {% load socialaccount %} {% block css %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'app/style.css' %}"
    />
    {% endblock css %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <div class="page-wrapper">{% block content %} {% endblock content %}</div>
    <div class="btn-container">
      <a class="write-btn" href="{% url 'create_page' %}">게시글 작성하기</a>
      <br />
      {% if user.is_authenticated %}
      <span>안녕 {{user.username}}</span>
      <br />
      <div class="lbtn-container">
        <a class="write-btn" href="{% url 'logout' %}">로그아웃</a>
      </div>
      {% else %}
      <div class="lbtn-container">
        <a class="write-btn" href="{% url 'signup' %}">회원가입</a>
        <a class="write-btn" href="{% url 'login' %}">로그인</a>
        <a class="write-btn" href="{% provider_login_url 'kakao' %}"
          >카카오 로그인</a
        >
      </div>
      {% endif %}
    </div>
  </body>
</html>
