.page-wrapper {
    display: flex;
    justify-content: center;
}

.page-header {
    width: 800px;
    height: 200px;
    font-size: 50px;
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.content-container {
    border: solid;
    margin: 15px;
    padding: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.post-title {
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    background-color: coral;
    margin: 7px;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.write-btn {
    background-color: cornflowerblue;
    width: 200px;
    height: 40px;
    padding: 5px;
    font-size: 30px;
    text-decoration: none;
    color: white;
    text-align: center;
}

.write-btn:hover {
    background-color: gray;
}