.body {
  display: flex;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: brown;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 30px;
}

.button {
  display: flex;
  justify-content: center;
}
