<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" text="text/css" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>detail</title>
</head>
<body>
    <div class="header">
        <h2>글 상세 페이지</h2>
    </div>
    <div class="container">
        <h3>제목</h3>
        <div>{{ article.title }}</div>
    </div>
    <div class="container">
        <h3>내용</h3>
        <div>{{ article.content }}</div>
    </div>
    <div class="container">
        <h3>작성시간</h3>
        <div>{{ article.post_time }}</div>
    </div>
    <div class="container">
        <a href="{% url 'blogApp:list' %}"><< 전체 목록으로 돌아가기</a>
    </div>
</body>
</html>