<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list_detail</title>
</head>
<body>
    <h2>카테고리별 글 목록</h2>
    <ul>
        {% for article in articles_filtered %}
            <li><a href="{% url 'blogApp:detail' article.id %}">{{ article.title }}</a></li>
        {% endfor %}
    </ul>
    <a href="{%  url 'blogApp:list' %}">카테고리별 글 목록으로 돌아가기</a>
</body>
</html>