<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" text="text/css" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list</title>
</head>
<body>
    <div class="header">
        <h2>블로그로그</h2>
    </div>
    <div class="container">
        <a href="{% url 'blogApp:list_detail' 'hobby' %}">hobby</a>
        <br>
        {{ num_categoties_hobby }}
    </div>
    <div class="container">
        <a href="{% url 'blogApp:list_detail' 'food' %}">food</a>
        <br>
        {{ num_categoties_food }}
    </div>
    <div class="container">
        <a href="{% url 'blogApp:list_detail' 'programming' %}">programming</a>
        <br>
        {{ num_categoties_programming }}
    </div>
    <br>
    <div class="container">
        <a href="{% url 'blogApp:new' %}">+ 새 글 작성하기 +</a>
    </div>
</body>
</html>